manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}

params {
  profile = false
  metadata = 'NO_FILE'
  ncov_recombinant_version = '0.6.1'
  completeness_threshold = 0.85
  split_by_plate = false
  artic_version = '1.3'
  consensus_subdir = 'ncovIllumina_sequenceAnalysis_callConsensusFreebayes'
  consensus_file_suffix = '.consensus.fa'
}

profiles {
  conda {
    process.conda = "$baseDir/environments/environment.yml"
    if (params.cache){
      conda.cacheDir = params.cache
    }
  }
}

process {
  withName: ncov_recombinant { 
    cpus = 14
    memory = '8 GB'
  }
}

